* {
    margin: 0 0 0 0;
}

a {
    color: white;
    target: blank;
}

a:hover {
    color: #CCCCCC;
}

.nav-square {
    position: fixed;
    background-color: #FBFBF9;
    width: 120px;
    height: 120px;
    top: -90px;
    right: 0;
    z-index: 6;
}

.nav-footer {
    position: relative;
    height: 10px;
    background-color: #FF7260;
    bottom: 0;
    width: 100px;
    left: 10px;
    top: 90px;
}

.nav-square:hover {
    cursor: pointer;   
}

.little-square {
    position: fixed;
    background-color: #FF7260;
    width: 40px;
    height: 40px;
    top: 65px;
    right: 65px;
    z-index: 5;
}

.big-square {
    position: fixed;
    background-color: #FBFBF9;
    width: 105px;
    height: 105px;
    top: 0;
    right: 0;
    z-index: 4;
}

.navbar-links li {
    color: white;
    text-decoration: none;
    list-style-type: none;
    float: right;
    width: 120px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    margin-left: 10px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.header {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 10em;
    font-weight: 700;
    letter-spacing: -5px;
    line-height: 150px;
    font-style: italic;
    left: 470px;
    top: 292px;
    z-index: 2;
}

#intro {
    position: fixed;
    top: 142px;
    left: 0px;
    width: 750px;
    z-index: 1;
    padding-left: 50px;
}

#scroll {
    position: absolute;
    top: 575px;
    right: 50%;
    transition: all .3s linear;
}

.wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    height: 1200px;
    z-index: 3;
}

.wrapper-things {
    height: 120vh;
    background-color: #FBFBF9;
    z-index: -2;
}

.wrapper-design {
    background-color: rgba(254, 206, 110, .6);
}

.wrapper-code {
    background-color: rgba(67, 235, 172, .6);
    opacity: 80;
}

.box-triangle {
    position: relative;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
    top: -18px;
    left: 78px;
    background-color: #FBFBF9;
}

.description-box {
    background-color: #FBFBF9;
    position: relative;
    border-style: solid;
    width: 200px;
    border-width: 10px;
    border-color: #FBFBF9;
    margin-top: 10px;
    top: 10px;
    margin-bottom: 40px;
}

.project-header {
    position: relative;
    top: -20px;
}

.project-description {
    position: relative;
    top: -20px;
}

.box-footer {
    height: 10px;
    background-color: #FF7260;
    z-index: 6;
}

.circle {
    position: relative;
    left: 25px;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 75px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.circle-making-waves {
    background-image: url('https://mir-cdn.behance.net/v1/rendition/projects/202/19321693.54b280a346a5d.png');
}

.circle-spark-retreat {
    background-image: url('https://mir-cdn.behance.net/v1/rendition/projects/202/18266063.548dad53c87f7.png');
}

.circle-connxus {
    background-image: url('https://m1.behance.net/rendition/modules/129566877/disp/7f4a319c7bfcbaf6c1aac5d7c8eb1012.png');
}

.circle-argeebe {
    background-image: url('http://i.imgur.com/ehy4m8F.png');
    background-size: 70%;
}

.circle-hoa {
    background-image: url('http://i.imgur.com/hxvvsVc.png');
    background-size: 70%;
    background-color: rgb(0, 0, 0);
}

.row {
    position: relative;
    top: 475px;
    z-index: 3;
}

.col-md-2 {
    padding-top: 20px;
}

.footer {
    background-color: #34495E;
    height: 50px;
}

.footer-text {
    position: relative;
    color: white;
    text-align: center;
    top: 18px;
    font-size: 12px;
}

@media (max-width: 992px) {
    .row {
        position: absolute;
        top: 650px;
        width: 300px;
        left: 50px;
    }
    .wrapper {
        height: 2400px;
    }
    .wrapper-things {
        height: 120vh;
    }
    .header {
        left: 50px;
        top: 450px;
    }
    #scroll {
        position: fixed;
        right: 40px;
        top: auto;
        bottom: 30px;
    }
}

@media (max-width: 520px) {
    .header {
        font-size: 5em;
        line-height: 78px;
        top: 300px;
    }
    .wrapper {
        height: 2000px;
    }
    .wrapper-things {
        height: 120vh;
    }
    .row {
        top: 400px;
    }
}