---
---

body {
    width: 100%;
    background-color: #fbfbfb;
    overflow-x: hidden;
    cursor: url(../assets/images/pen.png), auto;
    margin: 0;
}

.text {
    display: none;
}

.text:empty {
    height: 20px;
}

span, label {
    display: inline-block;
    font-size: 12px;
    font-family: 'Space Mono', monospace;
    margin: 0;
}

span {
    width: 7px;
    line-height: 12px;
    height: 12px;
}

*[class^="img-"] {
    display: none;
    width: 100%;
    max-width: 60vw;
    position: fixed;
    right: 10vw;
    top: 50vh;
    transform: translateY(-50%);
    z-index: -1;
}

a span {
    text-decoration: none;
}

a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, transparent 50%);
    background-size: 2px 1px;
    background-position: 0 17px;
    background-repeat: repeat-x
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

.mode {
    display: block;
    position: absolute;
    top: 12px;
    left: 8px;
}

.mode label {
    z-index: -1;
}

.canvas {
    width: 100%;
    padding: 8px;
}

.pen {
    display: none;
}

.pen.is-shown {
    position: absolute;
    display: block;
    height: 96px;
    width: 96px;
    z-index: 999;
    top: 150px;
    right: 30px;
}
