---
layout: default
---
<article class="container" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="info-container mono">
    <div class="header-sticky">
      <p><a href="/">Josh Shi</a></p>
    </div>
  </div>
  <div class="post-container sans" itemprop="articleBody">
    <header class="post-header">
      {% if page.description %}
        <p class="sans post-title" itemprop="name headline">{{ page.title | escape }}: <span>{{ page.description | escape }}</span></p>
      {% else %}
        <p class="sans post-title" itemprop="name headline">{{ page.title | escape }}</p>
      {% endif %}
    </header>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
