@mixin anim {
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

$primary-link: #1DE9B6;
$secondary-link: #B2DFDB;

$things-color: #1DE9B6;
$design-color: #F06292;
$code-color: #2979FF;
$bio-color: #FFAB40;

$black: #111111;

$primary-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

$break-medium: 768px;
$break-small: 442px;

html, body {
  padding: 0;
  margin: 0;
  background-color: $black;
  color: #f1f1f1;
  font-family: $primary-font-stack;
}

#three {
  width: 50%;
  height: 100vh;
  display: inline-block;
}

.intro {
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;

  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
  }
}
