@font-face {
  font-family: Circular Bold;
  src: url("fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: Circular Book;
  src: url("fonts/CircularStd-Book.otf") format("opentype");
}

@mixin anim {
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

$primary-link: #1DE9B6;
$secondary-link: #B2DFDB;

$things-color: #1DE9B6;
$design-color: #F06292;
$code-color: #2979FF;
$bio-color: #FFAB40;

$primary-font-stack: Circular Bold, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$secondary-font-stack: Circular Book, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$copy-font-stack: "Inconsolata", Courier, monospace;

$break-medium: 768px;
$break-small: 442px;

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

.intro {
  font-family: $primary-font-stack;
  font-size: 45px;
  font-weight: bold;
  height: 90vh;
  text-align: center;
  letter-spacing: -.15rem;
  background-color: white;
  position: relative;

  .header {
    padding-top: 35vh;
    overflow-y: scroll;

    .josh-shi-makes {
      vertical-align: top;
    }
  }

  .things-dummy {
    opacity: 0;
  }

  .dropdown-wrapper {
    /* Size and position */
    position: relative;

    /* Styles */
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
    height: 300px;
    width: 155px;
    top: -114px;


    @media screen and (max-width: $break-medium) {
      text-align: center;
    }

    .dropdown {
      /* Size & position */
      position: absolute;
      margin-top: 0;
      padding-left: 0;
      list-style-type: none;
      text-align: left;
      overflow-x: visible;

      li {
        display: inline-block;
        width: 300px;
        height: 58px;

        a {
          @include anim;
          text-decoration: none;
          pointer-events: none;
          /* Hiding */
          opacity: 0;
          color: $secondary-link;
          position: relative;
        }

        a:hover {
          left: 10px;
        }
      }

      li.active {
        a {
          pointer-events: auto;
          opacity: 1 !important;
        }

        a:hover {
          cursor: pointer;
        }
      }

      .things {
        a {
          color: $primary-link;
        }
      }

      .design {
        a {
          color: $design-color;
        }
      }

      .code {
        a {
          color: $code-color;
        }
      }

      .bio {
        a {
          color: $bio-color;
        }
      }
    }
  }
}

.content-section {
  width: 90%;
  margin-left: 5%;
  min-height: 90vh;
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;

  h1 {
    font-family: $primary-font-stack;
    margin-left: 10%;
    padding-top: 2%;
    font-size: 45px;
    display: inline-block;
    letter-spacing: -.08rem;

    a {
      position: relative;
      color: white;
      text-decoration: none;
      @include anim;
      padding-left: 4px;
      padding-right: 4px;
      border-bottom: 16px solid white;
    }

    a:hover{
      background-color: white;
      text-decoration: none;
    }

    .bio-header:hover {
      color: $bio-color;
    }

    .code-header:hover {
      color: $code-color;
    }

    .design-header:hover {
      color: $design-color;
    }
  }

  .project-container {
    padding-bottom: 10%;
    margin-left: 10%;

    .spacer {
      width: 10%;
      display: inline-block;

      @media screen and (max-width: $break-medium) {
        width: 0%;
      }
    }

    .info-container {
      width: 20%;
      display: inline-block;
      vertical-align: top;

      @media screen and (max-width: $break-medium) {
        width: 90%;
      }

      .info-header {
        font-family: $secondary-font-stack;
        font-weight: normal;
        font-size: 40px;
        margin-top: 0;
        color: white;
        line-height: 2.4rem;

        @media screen and (max-width: $break-medium) {
          margin-bottom: 0;
        }

        a {
          color: white;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

      }

      .header-left:after{
        content: "\219D";
      }

      .header-right {
        text-indent: -1.78rem;
      }

      .header-right:before{
        content: "\219C";
      }

      .info-description {
        font-family: $copy-font-stack;
        color: white;
        font-size: 1.2rem;
        line-height: 1.5rem;

        a {
          color: white;
          @include anim;
        }

        a:hover {
          text-decoration: none;
          background-color: white;
        }

      }
    }

    .image-container {
      width: 60%;
      display: inline-block;
      border-radius: 4px;
      height: calc(100%-10px);

      @media screen and (max-width: $break-medium) {
        width: 90%;
      }

      img {
        position: relative;
        width: 100%;
        @include anim;
      }
    }

  }

  .section-link {
    position: relative;
    width: 100%;
    text-align: right;
    padding-bottom: 5px;

    a {
      font-family: $secondary-font-stack;
      color: white;
      text-decoration: none;
      @include anim;
      padding-left: 4px;
      padding-right: 8px;
    }

    a:hover{
      background-color: white;
      text-decoration: none;
      border-bottom: 5px solid white;
    }

    a:after {
      content: "\219D";
    }
  }
}

.design-section {
  background-color: $design-color;

  .info-description {
     a:hover {
       color: $design-color !important;
     }
  }

  .section-link {
    a {
      border-bottom: 4px solid $design-color;
    }

    a:hover {
      color: $design-color;
    }
  }
}

.code-section {
  background-color: $code-color;
  margin-top: 0;

  .info-description {
     a:hover {
       color: $code-color !important;
     }
  }

  .section-link {
    a {
      border-bottom: 4px solid $code-color;
    }

    a:hover {
      color: $code-color;
    }
  }
}

.bio-section {
  background-color: $bio-color;
  margin-bottom: 0;

  .info-container {
    width: 50% !important;

    @media screen and (max-width: $break-medium) {
      width: 90% !important;
    }

    .info-description {
       a:hover {
         color: $bio-color;
       }
    }
  }

  .section-link {
    a {
      border-bottom: 4px solid $bio-color;
    }

    a:hover {
      color: $bio-color;
    }
  }
}
