@font-face {
  font-family: Circular Bold;
  src: url("fonts/CircularStd-Bold.otf") format("opentype"); }
@font-face {
  font-family: Circular Book;
  src: url("fonts/CircularStd-Book.otf") format("opentype"); }
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  overflow-x: hidden;
  width: 100vw; }

.intro {
  font-family: Circular Bold, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  height: 90vh;
  text-align: center;
  letter-spacing: -.15rem;
  background-color: white;
  position: relative; }
  .intro .header {
    padding-top: 35vh;
    overflow-y: scroll; }
    .intro .header .josh-shi-makes {
      vertical-align: top; }
  .intro .things-dummy {
    opacity: 0; }
  .intro .dropdown-wrapper {
    /* Size and position */
    position: relative;
    /* Styles */
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
    height: 300px;
    width: 155px;
    top: -114px; }
    @media screen and (max-width: 768px) {
      .intro .dropdown-wrapper {
        text-align: center; } }
    .intro .dropdown-wrapper .dropdown {
      /* Size & position */
      position: absolute;
      margin-top: 0;
      padding-left: 0;
      list-style-type: none;
      text-align: left;
      overflow-x: visible; }
      .intro .dropdown-wrapper .dropdown li {
        display: inline-block;
        width: 300px;
        height: 58px; }
        .intro .dropdown-wrapper .dropdown li a {
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -o-transition: all .2s ease;
          transition: all .2s ease;
          text-decoration: none;
          pointer-events: none;
          /* Hiding */
          opacity: 0;
          color: #B2DFDB;
          position: relative; }
        .intro .dropdown-wrapper .dropdown li a:hover {
          left: 10px; }
      .intro .dropdown-wrapper .dropdown li.active a {
        pointer-events: auto;
        opacity: 1 !important; }
      .intro .dropdown-wrapper .dropdown li.active a:hover {
        cursor: pointer; }
      .intro .dropdown-wrapper .dropdown .things a {
        color: #1DE9B6; }
      .intro .dropdown-wrapper .dropdown .design a {
        color: #F06292; }
      .intro .dropdown-wrapper .dropdown .code a {
        color: #2979FF; }
      .intro .dropdown-wrapper .dropdown .bio a {
        color: #FFAB40; }

.content-section {
  width: 90%;
  margin-left: 5%;
  min-height: 90vh;
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%; }
  .content-section h1 {
    font-family: Circular Bold, Helvetica, "Helvetica Neue", Arial, sans-serif;
    margin-left: 10%;
    padding-top: 2%;
    font-size: 45px;
    display: inline-block;
    letter-spacing: -.08rem; }
    .content-section h1 a {
      position: relative;
      color: white;
      text-decoration: none;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      padding-left: 4px;
      padding-right: 4px;
      border-bottom: 16px solid white; }
    .content-section h1 a:hover {
      background-color: white;
      text-decoration: none; }
    .content-section h1 .bio-header:hover {
      color: #FFAB40; }
    .content-section h1 .code-header:hover {
      color: #2979FF; }
    .content-section h1 .design-header:hover {
      color: #F06292; }
  .content-section .project-container {
    padding-bottom: 10%;
    margin-left: 10%; }
    .content-section .project-container .spacer {
      width: 10%;
      display: inline-block; }
      @media screen and (max-width: 768px) {
        .content-section .project-container .spacer {
          width: 0%; } }
    .content-section .project-container .info-container {
      width: 20%;
      display: inline-block;
      vertical-align: top; }
      @media screen and (max-width: 768px) {
        .content-section .project-container .info-container {
          width: 90%; } }
      .content-section .project-container .info-container .info-header {
        font-family: Circular Book, Helvetica, "Helvetica Neue", Arial, sans-serif;
        font-weight: normal;
        font-size: 40px;
        margin-top: 0;
        color: white;
        line-height: 2.4rem; }
        @media screen and (max-width: 768px) {
          .content-section .project-container .info-container .info-header {
            margin-bottom: 0; } }
        .content-section .project-container .info-container .info-header a {
          color: white;
          text-decoration: none; }
        .content-section .project-container .info-container .info-header a:hover {
          text-decoration: underline; }
      .content-section .project-container .info-container .header-left:after {
        content: "\219D"; }
      .content-section .project-container .info-container .header-right {
        text-indent: -1.78rem; }
      .content-section .project-container .info-container .header-right:before {
        content: "\219C"; }
      .content-section .project-container .info-container .info-description {
        font-family: "Inconsolata", Courier, monospace;
        color: white;
        font-size: 1.2rem;
        line-height: 1.5rem; }
        .content-section .project-container .info-container .info-description a {
          color: white;
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -o-transition: all .2s ease;
          transition: all .2s ease; }
        .content-section .project-container .info-container .info-description a:hover {
          text-decoration: none;
          background-color: white; }
    .content-section .project-container .image-container {
      width: 60%;
      display: inline-block;
      border-radius: 4px;
      height: calc(100%-10px); }
      @media screen and (max-width: 768px) {
        .content-section .project-container .image-container {
          width: 90%; } }
      .content-section .project-container .image-container img {
        position: relative;
        width: 100%;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease; }
  .content-section .section-link {
    position: relative;
    width: 100%;
    text-align: right;
    padding-bottom: 5px; }
    .content-section .section-link a {
      font-family: Circular Book, Helvetica, "Helvetica Neue", Arial, sans-serif;
      color: white;
      text-decoration: none;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      padding-left: 4px;
      padding-right: 8px; }
    .content-section .section-link a:hover {
      background-color: white;
      text-decoration: none;
      border-bottom: 5px solid white; }
    .content-section .section-link a:after {
      content: "\219D"; }

.design-section {
  background-color: #F06292; }
  .design-section .info-description a:hover {
    color: #F06292 !important; }
  .design-section .section-link a {
    border-bottom: 4px solid #F06292; }
  .design-section .section-link a:hover {
    color: #F06292; }

.code-section {
  background-color: #2979FF;
  margin-top: 0; }
  .code-section .info-description a:hover {
    color: #2979FF !important; }
  .code-section .section-link a {
    border-bottom: 4px solid #2979FF; }
  .code-section .section-link a:hover {
    color: #2979FF; }

.bio-section {
  background-color: #FFAB40;
  margin-bottom: 0; }
  .bio-section .info-container {
    width: 50% !important; }
    @media screen and (max-width: 768px) {
      .bio-section .info-container {
        width: 90% !important; } }
    .bio-section .info-container .info-description a:hover {
      color: #FFAB40; }
  .bio-section .section-link a {
    border-bottom: 4px solid #FFAB40; }
  .bio-section .section-link a:hover {
    color: #FFAB40; }

/*# sourceMappingURL=styles.css.map */
