@mixin anim {
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

@mixin enable-text-selection {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

@mixin disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin grabby-hand {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

@mixin grabbing-hand {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

$primary-link: #1DE9B6;
$secondary-link: #B2DFDB;

$things-color: #1DE9B6;
$design-color: #F06292;
$code-color: #2979FF;
$bio-color: #FFAB40;

$black: #111111;
$offwhite: #f1f1f1;

$primary-font-stack: Menlo, monospace;

$break-medium: 768px;
$break-small: 442px;

html, body {
  padding: 0;
  margin: 0;
  background-color: $offwhite;
  color: $black;
  font-family: $primary-font-stack;
  width: 100vw;
  overflow: hidden;
}

#three {
  width: 100vw;
  height: 100vh;
}

p {
  font-weight: normal;
  font-size: .75rem;
  line-height: 10px;
  margin-top: 5px;
}

.content-container {
  position: absolute;
  vertical-align: top;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: calc(100% - 400px);
  height: 100vh;
  overflow-y: scroll;
  @include disable-text-selection;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    @include grabby-hand;

    .content {
      margin-bottom: 200px;

      &:hover {
        cursor: auto;
        @include enable-text-selection;
      }
    }
  }

  &:active {
    @include grabbing-hand;
  }
}

.bio {
  margin-bottom: 40px;
}

.project {
  margin-top: 20px;
}

.project-description {
  line-height: 18px;
}
